{% extends 'base.html' %}
{% load bootstrap4 %}

{% block title %}New Password{% endblock %}

{% block content %}

<div class="row mt-5">
    <form method="post" class="col-4 mx-auto bg-white pt-3 pb-3 rounded">
        <h6 class="display-5 font-italic">Set New Password for {{ user.email }}</h6>
        {% csrf_token %}
        <input type="password" class="form-control mb-2 mt-3 " style="font-size: 15px;" aria-describedby="basic-addon3" {{ form.old_password }}
        <input type="password" class="form-control mb-2 mt-2" style="font-size: 15px;" aria-describedby="basic-addon3" {{ form.new_password1 }}
        <input type="password" class="form-control mb-2" style="font-size: 15px;" aria-describedby="basic-addon3" {{ form.new_password2 }}
        <a href="{% url 'users:index' %}" class="btn btn-sm btn-outline-secondary mr-2 mt-2">Cancel</a>
        {% bootstrap_button 'Сменить пароль' button_class='btn btn-sm mt-2 btn-outline-secondary' button_type='submit' size='small' %}
    </form>
</div>

{% endblock %}