{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block title %}Create Account{% endblock %}

{% block content %}

<div class="row">
    <div class="rounded bg-white mt-5 mb-3 mx-auto" style="width: 380px;">
        <form method="post" class="mt-4 col-11 mx-auto">
            <div class="text-center text-uppercase" style="font-size: 14px; font-weight: bold;">
                <p>Sign up with</p>
            </div>
            <div class="mx-auto text-uppercase col-11">
                <a href="{% url 'social:begin' 'facebook' %}" class="" style="font-size: 13px; font-weight: 600;">
                    <img src="https://online-dating-bucket.s3-us-west-2.amazonaws.com/images/facebook.svg" style="width: 15px;">
                    <span class="ml-2" style="color: rgb(59,89,152)">Facebook</span>
                </a>
                    <span class="pl-4 pr-4">/</span>
                <a href="{% url 'social:begin' 'google-oauth2' %}" class="" style="font-size: 13px; font-weight: 600;">
                    <img src="https://online-dating-bucket.s3-us-west-2.amazonaws.com/images/search.svg" style="width: 15px;">
                    <span class="ml-2">Google</span>
                </a>
            </div>
            <div class="row mt-3">
                <hr align="center"  class="col-4"/>
                <p class="mt-1" style="font-size: 14px;">or</p>
                <hr align="center"  class="col-4"/>
            </div>
            {% csrf_token %}

            <div class="input-group mb-3">
              <i class="input-group-text pt-2 bg-white text-muted far fa-user-circle fa-lg"></i>
              <input type="text" class="form-control" style="font-size: 15px;" aria-describedby="basic-addon1" {{ form.first_name }}
            </div>

            <div class="input-group mb-3">
              <i class="input-group-text text-center bg-white text-muted pt-2 far fa-user-circle fa-lg" id="basic-addon1"></i>
              <input type="text" class="form-control" style="font-size: 15px;" aria-describedby="basic-addon1" {{ form.last_name }}
            </div>

            <div class="input-group mb-3">
              <i class="input-group-text text-center bg-white text-muted pt-2 far fa-envelope fa-lg" id="basic-addon2"></i>
              <input type="email" class="form-control" style="font-size: 15px;" aria-describedby="basic-addon2" {{ form.email }}
            </div>

            <div class="input-group mb-3">
              <i class="input-group-text text-center bg-white text-muted pt-2 fas fa-user-lock" id="basic-addon3"></i>
              <input type="password" class="form-control" style="font-size: 15px;" aria-describedby="basic-addon3" {{ form.password }}
            </div>

            <div class="input-group mb-3">
              <i class="input-group-text text-center bg-white text-muted pt-2 fas fa-user-lock" id="basic-addon4"></i>
              <input type="password" class="form-control" style="font-size: 15px;" aria-describedby="basic-addon4" {{ form.password2 }}
            </div>

            <div class="form-check">
                <input class="form-check-input" type="checkbox"  id="terms_and_conditions" value="1" onclick="terms_changed(this)">
                <label class="form-check-label ml-2" for="terms_and_conditions">
                  <font style="font-size: 13px;">
                      I'd like to receive PlacePass news and offers.
                  </font>
                </label>
            </div>
            <p style="font-size: 10px; " class="text-muted lh-4 mt-1">
                By signing up, i agree to the PlacePass <span class="text-info">Terms of Service</span> and Privacy Policy
            </p>
            <div class="d-grid gap-2">
              <button class="btn btn-dark text-uppercase pt-3 pb-3 col-12" id="submit_button" type="submit" style="font-size: 14px; color: white; font-weight: 600;" disabled>Register</button>
            </div>
            <div class="mt-3">
            <font style="font-size: 12px; font-weight: 600;" class="pr-1">Already have an account?</font>
            <a class="col-md-5 ml-4 pb-2 pt-2 text-uppercase btn btn-outline-primary btn-sm" style="font-weight: 600; font-size: 13px;" href="{% url 'users:login' %}">Log in</a>
            </div>
        </form>
        <div class="row pb-2 mt-3">

        </div>
    </div>

    <script>
        function terms_changed(termsCheckBox){
            if(termsCheckBox.checked){
                document.getElementById("submit_button").disabled = false;
            } else{
                document.getElementById("submit_button").disabled = true;
            }
        }
    </script>
{% endblock %}
